.pub {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Reduzi o padding para um estilo mais leve */
  transition: transform 0.2s ease-in-out;
  cursor: pointer; /* Adiciona um cursor indicando que é clicável */
}

.pub:hover {
  transform: scale(1.02); /* Reduzi um pouco o efeito de escala */
}

/* Tipografia */
.pub h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.pub p {
  font-size: 14px;
  margin-bottom: 5px;
  color: #666;
}

/* ... (outros estilos, se necessário) ... */
